div{
    margin-top: 4px;
}

.major{
    display: flex;
    gap: 5%;
    height: 1080px;
}

.secondflex{
    display: flex;
    width: 70%;
    align-items: flex-start;
    justify-content: left;
    gap: 20%;;
}

.itemone,.itemtwo{
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
}

.itemtwo{
    margin-right: 15%;
}
.logo{
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    /* https://www.pexels.com/@cup-of-couple/ */
    /*margin: 0 auto auto 0;*/
    width: 60%;
}

.header{
    margin-top: 15%;
    width: 70%;
    font-weight: bold;
    font-size: 1.6em;
}

h3{
    margin-top: 4%;
    font-size: 2em;
    color: rgb(133, 10, 10);
}

label, .footer{
    font-weight: bold;
}

.footer{
    margin-top: 1%;
}

svg{
    text-align: center;
    margin-top: 35%;
}
.credits{
    margin-top: 99%;
    text-align: center;
    font-size: 1em;
    color: aqua;
}