div{
    margin-top: 2.1px;
}

.major{
    display: flex;
}

.secondflex{
    display: flex;
    width: 70%;
    align-items: flex-start;
    justify-content: left;
}

.itemone,.itemtwo{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-right: 20%;
}

.itemtwo{
    margin-right: 15%;
}
.logo{
    width: 30%;
}

.header{
    width: 70%;
}