div{
    margin-top: 4px;
}

.major{
    display: flex;
}

.secondflex{
    display: flex;
    width: 70%;
    align-items: flex-start;
    justify-content: left;
}

.itemone,.itemtwo{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-right: 20%;
    flex-direction: column;
}

.itemtwo{
    margin-right: 15%;
}
.logo{
    background-image: url('https://images.pexels.com/photos/7303342/pexels-photo-7303342.jpeg');
    /* https://www.pexels.com/@cup-of-couple/ */
    width: 30%;
    height: auto;
}

.header{
    width: 70%;
}